.headerStyle {
    display:flex;
    flex-direction:row;
    padding:20px;
    position:absolute;
    top:10px;
    z-index:+100;
    width:520px;
    border-radius: 5px 5px 0 0;
}
.linkButton {
    width:260px;
    background-color:rgba(150, 219, 207, 0.614);
    height:70px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 5px 5px 0 0;
}
.headerStyle a {
    padding:15px;
    text-decoration: none;
    font-size: 20px;
    color:rgb(0, 0, 0);
}
.linkButton:hover {
    background-color:rgba(120, 236, 217, 0.749);
}
.forBox {
    margin-top:100px;
    background-color: rgb(189, 250, 240, 0.4);
    width: 483px;
    border-radius: 0 0 5px 5px;
    padding:20px;
}
/* .forBox:hover {
    background-color: rgb(189, 250, 240, 0.5);
} */
.listItem {
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align:left;
    background-color:white;
    margin:8px;
    padding:10px;
    border-radius:8px;
    border: 1px solid rgb(222, 217, 217);
    position:relative;
}
.listItem:hover {
    box-shadow: 2px 2px 2px rgb(75, 78, 79);
}
.removeButton {
    background-color: rgb(227, 74, 74);
    height:40px;
    width:100px;
    color:rgb(252, 252, 252);
    border-radius:5px;
    border: 1px solid rgb(222, 217, 217);
    margin-right:10px;
    font-weight: 5px;
}
.editButton {
    background-color: rgba(255, 255, 0, 0.882);
    height:40px;
    width:100px;
    color:rgb(48, 2, 2);
    border-radius:5px;
    border: 0px solid rgb(222, 217, 217);
    font-weight: 5px;
}
.removeButton:hover {
    background-color:rgb(208, 32, 32);
}
.editButton:hover {
    background-color: rgba(221, 221, 2, 0.882);
}
.submitButton {
    background-color: rgb(4, 148, 200);
    color:rgb(252, 252, 252);
    padding: 10px;
    margin:5px;
    border-radius:5px;
    border: 1px solid rgb(222, 217, 217);
    font-weight: 5px;
}
.submitButton:hover {
    background-color: rgb(2, 97, 132);;
}
.cancelEdit {
    border:none;
    font-size: larger;
    background-color: rgb(248, 248, 181);
    position:absolute;
    left:140px;
    bottom:16px;
}
.cancelEdit:hover {
    color:rgb(127, 130, 131);
}
.taskEnter {
    height:35px;
    width:240px;
    margin:5px;
    border-radius:5px;
    border:none;
    margin-bottom:30px;
    background-color:rgb(248, 248, 181);
}
.taskEnter:focus {
    outline: none
}
.editField {
    background-color: rgb(248, 248, 181);
    height:35px;
    width:150px;
    color:rgb(0, 0, 0);
    border-radius:5px;
    border: 1px solid rgb(222, 217, 217);
    margin-right:10px;
    font-weight: 5px;
}
.label {
    line-height: 1.5;
}